Specification-Title: OpenTSDB
Specification-Version: 1.1.0
Specification-Vendor: The OpenTSDB Authors
Implementation-Title: net.opentsdb
Implementation-Version: unknown
Implementation-Vendor: Kevin Ortman
